@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");

html,
body {
  height: 100%;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  font-weight: 900;
  background: #171923;
  color: #fff;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.controls {
  background: #171923;
  color: #fff;
  padding: 20px 20px 18px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 10px;
  align-items: center;
  font-size: 20px;
  span {
    color: #ecc94b;
  }
  button {
    border: none;
    text-transform: uppercase;
    background: #4299e1;
    color: #ebf8ff;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: 900;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      background: #2a4365;
    }
  }
}
.grid {
  display: grid;
  padding: 1px;
  grid-template-columns: repeat(10, 1fr);
  background: #a0aec0;
  .square {
    margin: 1px;
    background: #fff;
    color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    font-weight: 900;
    transition: all 0.2s;
    &.available {
      background: #c6f6d5;
      color: #c6f6d5;
      &:hover {
        cursor: pointer;
        background: #9ada95;
        color: #9ada95;
      }
    }
    &.taken {
      background: #fefcbf;
      color: #333;
      &:hover {
        cursor: not-allowed;
      }
    }
    &.latest {
      background: #fed7d7;
      &:hover {
        cursor: not-allowed;
      }
    }
    &:hover {
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 640px) {
  .controls {
    padding: 10px;
  }
  .grid .square {
    font-size: 24px;
  }
}
